# http://www.gnu.org/software/automake
Makefile.in
Makefile

# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.*
/stamp-h1
.deps/

# Object files
*.slo
*.lo
*.o
*.obj

# Libraries
*.lai
*.la
*.lib
*.a

# specially generated
git_info.hpp
compile_commands.json

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Backup files
*~

# Log files
*.log

# local files to project
src/cexpr-str
src/cexpr-str2
src/cls-basic
src/pp-basic
